extends includes/layouts

block main 
    main(class="w-3/5 mx-auto p-5 flex flex-col gap-y-6")
        h1(class="font-bold text-3xl")= newsTitle

        img(src=img, alt=newsTitle class="w-full")


        each c in contents
            h2(class="font-bold text-2xl hover:text-blue-600 cursor-pointer" data-id_content=c.id_content)= c.sub_title
            div(class="flex flex-col gap-y-6 hover:text-blue-600" data-id_content=c.id_content)
                each content in c.content
                    p(class="cursor-pointer")= content
        
        

    script(src="/js/news-content-management.js") 