extends includes/layouts

block main 
    div(class="flex flex-col w-full p-4 gap-y-4 mx-auto lg:mt-8 lg:w-4/5")
        h1(class="font-bold text-lg text-center md:text-3xl") Hasil Pencarian 
            span(class="text-sky-500")= searchText

        div(class="grid w-full grid-cols-1 md:grid-cols-3 gap-2")    
            each val in news                
                a(href="/read-news?news="+ val.id_news, class="flex gap-y-1 gap-x-3 items-center md:flex-col")
                    img(src=val.ilustrate, alt=val.title class="w-2/5 md:w-full")
                    div(class="flex flex-col gap-y-2 w-3/5 md:w-full")
                        span(class="font-semibold text-sm sm:text-lg md:text-sm")= val.title
                        span(class="text-gray-800 text-xs")= val.created_at

            else 
                div(class="w-full h-96 flex justify-center items-center md:col-span-3")
                    span(class="text-xl text-red-500") Berita tidak ditemukan

        div(class="w-full flex items-center justify-center mt-10 flex-wrap gap-y-1")   
            div(class="hover:bg-gray-500 cursor-pointer p-1 rounded-l border-2 border-r border-black bg-gray-300")
                a(class="block size-5 text-center" href="/search-news?judul="+searchText+"&page="+prev)
                    svg(class="size-5" xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' d='m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5')
        
            - for (var x = 1; x <= maxPage; x++)
                if x == page 
                    div(class="p-1 border-x border-y-2 border-black bg-sky-500")
                        a(class="block size-5 text-center" href="/search-news?judul="+searchText+"&page="+x)= x
                else 
                    div(class="p-1 border-x border-y-2 border-black")
                        a(class="block size-5 text-center" href="/search-news?judul="+searchText+"&page="+x)= x

            div(class="hover:bg-gray-500 cursor-pointer p-1 rounded-r border-2 border-l border-black bg-gray-300")
                a(class="block size-5 text-center" href="/search-news?judul="+searchText+"&page="+next)
                    svg(class="size-5 rotate-180" xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' d='m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5')
